<a href="https://colab.research.google.com/github/Leonardo16Rojas/programacionAplicada/blob/main/Corte%202/Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
animals = {'cat', 'dog', 'goldfish', 'canary', 'cat'}#Crea un conjunto
print(animals) #Imprime el conjunto, Solo habra un elemento gato

{'goldfish', 'canary', 'dog', 'cat'}

In [ ]:
even_numbers = {2, 4, 6, 8, 10}#Crea un conjunto con numertos pares
big_numbers = {6, 7, 8, 9, 10}#Crea un conjunto con numeros grandes

# sustraccion
print(big_numbers - even_numbers)#Resta el conto 1 al 2 y lo imprime

#Union
print(big_numbers | even_numbers)#Hace la operacion "union" entre los dos conjuntos y lo imprime

#Intersseccion
print(big_numbers & even_numbers)#Hace la operacion "interseccion" entre los dos conjuntos y lo imprime

{9, 7}
{2, 4, 6, 7, 8, 9, 10}
{8, 10, 6}

In [ ]:
print(animals)#Imprime el conjunto generado anteriormente
print(sorted(animals))#Imprime el conjunto con los elementos ordenados aleatoriamente(En conjunto no exixte orden)

{'goldfish', 'canary', 'dog', 'cat'}
['canary', 'cat', 'dog', 'goldfish']

In [ ]:

a = {}#Se crea un DICCIONARIO vacio
print(a)
b = set()#Se crea un CONJUNTO vacio
print(b)

{}
set()

In [ ]:

print(list(range(10))) #Imprime una lista con un rango de 0 al 9



print(list(range(1, 11)))#Imprime una lista con un rango de 1 al 10


print(list(range(1, 11, 2)))#Imprime una lista con los numeros enteros impares en un rango de 1 al 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
animals = ['cat', 'dog', 'goldfish', 'canary', 'cat']#Crea una lista
print(animals)
animals_set = set(animals) #Convierte la lista en un conjunto
print(animals_set)
animals_unique_list = list(animals_set)#Convierte el conjunto anterior en una lista unica
print(animals_unique_list)
animals_unique_tuple = tuple(animals_unique_list)#Convierte la lista  anterior en una tupla unica
print(animals_unique_tuple)

['cat', 'dog', 'goldfish', 'canary', 'cat']
{'goldfish', 'canary', 'dog', 'cat'}
['goldfish', 'canary', 'dog', 'cat']
('goldfish', 'canary', 'dog', 'cat')

In [ ]:
marbles = {"red": 34, "green": 30, "brown": 31, "yellow": 29 } #Crea un diccionario

colours = list(marbles) #Convierte el diccionario en una lista
print(colours)
counts = tuple(marbles.values()) #Convierte el diccionario en una tupla
print(counts)
marbles_set = set(marbles.items()) #Convierte el diccionario en un conjunto, devuelve una vista de los pares clave-valor del diccionario como tuplas
print(marbles_set)

['red', 'green', 'brown', 'yellow']
(34, 30, 31, 29)
{('green', 30), ('brown', 31), ('red', 34), ('yellow', 29)}

In [ ]:
# Python no sabe como convertir esto en un diccionario
#dict([1, 2, 3, 4])

dict([(1, 2), (3, 4)])#Se está pasando una lista de tuplas, donde cada tupla es un par (clave, valor)

{1: 2, 3: 4}

In [ ]:
s = "abracadabra"#Aquí se define una cadena de texto (string)

print(len(s))#Imprime la longitud de la cadena
print(s.index("a"))# Imprime la posición del primer carácter "a" en la cadena

print(s[0]) #Imprime el  primer carácter de la cadena (índice 0).
print(s[3:5])#accede a una subcadena desde el índice 3 (inclusive) hasta el 5 (exclusivo) y la imprime

11
0
a
ac

In [ ]:
s[0] = "b" #Error no puedo modificar caracteres

In [ ]:
print('h' in 'abcd') # Verifica si exixte un caracter en una cadena, retorna un buleano

False

In [ ]:
print('ab' in 'abcd') # Verifica si exixte un caracter en una cadena, retorna un buleano

True

In [ ]:
# this doesn't work for lists
print(['a', 'b'] in ['a', 'b', 'c', 'd']) #Verifica si el elemento [("a" , "b")], se encuentra en la lista

False

In [ ]:
abc_list = list("abracadabra")#Convierte la cadena a una lista de caracteres
print(abc_list)#Imprime la lista

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [ ]:
l = ['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']# Crea una lista

s = "".join(l)#Metodo de cadena con párametro , Convierte la lista de caracteres a una cadena
print(s)#Imprime la cadena

abracadabra

In [ ]:
animals = ('cat', 'dog', 'fish')#Crea una tupla

In [ ]:

print(" ".join(animals))#Convierte la tupla a una cadena con un espacio entre los elementos

cat dog goldfish canary cat

In [ ]:

print(",".join(animals))#Convierte la tupla a una cadena con una coma(,) entre los elementos

cat,dog,goldfish,canary,cat

In [ ]:

print(", ".join(animals))#Convierte la tupla a una cadena con una coma(,) y espacio entre los elementos

cat, dog, goldfish, canary, cat

In [ ]:
print("cat    dog fish\n".split())#Divide una cadena en palabras

['cat', 'dog', 'fish']

In [ ]:
print("cat|dog|fish".split("|"))#Divide la cadena, especificando un delimitador

['cat', 'dog', 'fish']

In [ ]:
print("cat, dog, fish".split(", "))#Divide el texto en partes usando , (coma y espacio) como separador

['cat', 'dog', 'fish']

In [ ]:
print("cat, dog, fish".split(", ", 2))# Divide el string usando (coma y espacio) como separador
#El número 2 indica el número máximo de divisiones que se deben hacer

['cat', 'dog', 'fish']

In [ ]:
my_table = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
] #Crea una lista de listas, que puede ver como una tabla o matriz con

In [ ]:
print(my_table[0][0]) #Imprime el primer elemento

1

In [ ]:
# lists are mutable, so we can do this
my_table[0][0] = 42#Cambia el primer elemento por 42
print(my_table)#Imprime lña tabla

[[42, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [ ]:
my_2d_list = [
    [0],
    [1, 2, 3, 4],
    [5, 6],
] #Crea una segunda lista de listas
print(my_2d_list) #Imprime la lista

[[0], [1, 2, 3, 4], [5, 6]]

In [ ]:
my_3d_list = [
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]],
]#Crea una tercera  lista tridimencional de listas
print(my_3d_list[0][0][0]) #Imprime el primer elemento

1

In [ ]:
my_long_list = [0] * 100 #Crea una lista que contiene el número 0 repetido 100 veces
print(my_long_list)#Imprime la lista

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
day = [""] * 24 #Crea una lista llamada day con 24 elementos, donde cada elemento es una cadena vacía ("").
print(day)#Imprime la lista

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [ ]:
timetable = day * 7 #Crea una nueva lista  que contiene la lista day repetida 7 veces
print(timetable) #Imprime la lista

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [ ]:
timetable = [[""] * 24 for day in range(7)] #Crea una lista de listas, donde cada sublista representa un día con 24 horas, y cada hora contiene inicialmente una cadena vacía
print(timetable)

[['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']]